<html>
<body>
{#<div class="btn-group">#}
{#  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    Blogs#}
{#  </button>#}
{#  <div class="dropdown-menu">#}
{#    <a class="dropdown-item" href="#">Add Blog</a>#}
{#    <a class="dropdown-item" href="#">view Blog</a>#}
{#    <div class="dropdown-divider">Upload Blog</div>#}
{#      <a class="dropdown-item" href="#">delete Blog</a>#}
{##}
{#  </div>#}
{#</div>#}
{#<div class="btn-group">#}
{#  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    Pictures#}
{#  </button>#}
{#  <div class="dropdown-menu">#}
{#    <a class="dropdown-item" href="#">Food Pics</a>#}
{#    <a class="dropdown-item" href="#">Animals Pics</a>#}
{#    <div class="dropdown-divider">Trees Pics</div>#}
{#      <a class="dropdown-item" href="#">Wallpapers</a>#}
{##}
{#  </div>#}
{#</div>#}
{#<div class="btn-group">#}
{#  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    Topics#}
{#  </button>#}
{#  <div class="dropdown-menu">#}
{#    <a class="dropdown-item" href="{% url 'topic' %}">Today T</a>#}
{##}

  </div>
</div>



</body>
</html>
