<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'book' %}">Book Your Tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Chat Box</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Box Office</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'log' %}">Logout</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'topic' %}">Your tickets</a>
  </li>
</ul>